<style>
	body {
		border: 0;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
	}
	#topnews {
		flex-grow: 0;
		flex-shrink: 0;
		height: 55px;
	}
	#build {
		flex-grow: 1;
		flex-shrink: 0;
	}
</style>
<body>
<iframe id="topnews" src="http://pc2014:8989">
</iframe>
<iframe id="build" src="index.html">
</iframe>
</body>