<!DOCTYPE html>
<html lang="en">
<head>
    <title>TOPnews</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<div id="news">
<!--    <div>-->
        <div id="title" v-bind:class="">
            <img v-show="!hoverMode && !editMode" src="more.svg">
            <img v-show="editMode" src="arrow.svg">
            <div v-show="!hoverMode && !editMode">TOPnews</div>
            <button id="entry" v-show="hoverMode && !editMode" class="input">
                Add entry
            </button>
            <button id="scope" v-show="hoverMode && !editMode" class="input">
                Manage scopes
            </button>
        </div>
        <div class="marquee">
            <div>
			<span class="news-item" v-for="newsItem in newsItems">
				<img class="news-item-spacer" src="topdesk.svg">
				&nbsp;&nbsp;&nbsp;
				{{ newsItem.newsText }}
				&nbsp;&nbsp;&nbsp;
				<img class="news-item-spacer" src="topdesk.svg">
				&nbsp;
			</span>
            </div>
        </div>
        <div class="scopes-management" v-show="editMode=='manageScopes'">
            <!--<div v-for="scope in availableScopes">-->
            <label v-for="scope in availableScopes">
                <input type="checkbox" v-bind:value="scope" v-model="subscribedScopes"/>
                {{ scope }}
            </label>
            <!--</div>-->
            <!--<label for="new-scope">add scope</label>-->
            <!--<input id="new-scope" v-model="newScope" type="text">-->
            <!--<button id="add-new-scope" class="input" @click="addNewScope">Add</button>-->
        </div>
<!--    </div>-->
    <div class="new-entry" v-show="editMode">
        <input class="news-text" v-model="newsItem.newsText" type="text" placeholder="your news here">
        <!--<input class="expiration-date" v-model="newsItem.expirationDate" type="datetime-local">-->
        <input class="expiration-date" v-model="newsItem.days" type="number" placeholder="days">
        <input class="expiration-date" v-model="newsItem.hours" type="number" placeholder="hours">
        <input class="expiration-date" v-model="newsItem.minutes" type="number" placeholder="minutes">
        <!--<select class="scope" v-model="newsItem.scope">-->
        <!--<option value="*">all scopes</option>-->
        <!--<option v-for="scope in availableScopes" v-bind:value="scope">-->
        <!--{{ scope }}-->
        <!--</option>-->
        <!--</select>-->
        <label v-for="scope in availableScopes">
            <input type="checkbox" v-bind:value="scope" v-model="newsItem.scopes"/>
            {{ scope }}
        </label>
        <button id="add-news-item" class="input" @click="addNewsItem">Add</button>
        <button id="cancel" class="input" @click="cancel">Cancel</button>
    </div>
</div>
</body>
</html>