body {
	--topdesk-blue: #057aab;
	--topdesk-grey: #525252;
	--topdesk-grey1: #F2F2F2;
	--topdesk-orange: #E37331;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	margin: 0;
	color: var(--topdesk-grey1);
}
img {
	height: 24px;
	padding: 4px;
}
.input {
	color: var(--topdesk-grey1);
	background: var(--topdesk-blue);
}
input[type=number] {
	width: 64px;
}
::placeholder {
	color: var(--topdesk-grey1);
	opacity: 1;
}
#news {
	display: flex;
	flex-direction: row;
	height: 55px;
	background: var(--topdesk-grey);
}
#news #title {
	background: var(--topdesk-blue);
	font-weight: bold;
	font-size: 32px;
	border-right: 2px solid var(--topdesk-grey1);
	width: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 1;
}
#news div {
	position: relative;
	width: auto;
}
#title > * {
	display: inline-block;
	vertical-align: middle;
}
#title > button {
	font-size: 11px;
	margin: 8px;
}
.marquee div {
	font-size: 38px;
	position: absolute;
	white-space: nowrap;
	animation: marquee 10s linear infinite;
	width: auto;
}
.marquee div:hover {
	animation-play-state: paused;
}
.news-item-spacer {
	padding: 0px;
}
.new-entry, .scopes-management {
	display: flex;
	align-items: center;
}
.new-entry > * {
	background: var(--topdesk-blue);
	color: var(--topdesk-grey1);
	margin: 4px;
}
.scopes-management > * {
	display: inline-block;
	margin: 8px;
}
@keyframes marquee {
	0% {
		left: 500px;
	}
	100% {
		left: -100%;
	}
}